<div
  class="flex flex-col items-center justify-center w-full h-screen p-4 bg-cover bg-center bg-no-repeat"
  style='background-image:
        linear-gradient(rgba(16, 24, 34, 0.4), rgba(16, 24, 34, 0.7)),
        url("https://lh3.googleusercontent.com/aida-public/AB6AXuBFJlLLAr2Dddu9K0FC7uVcQxnw7KSB59gC-TZBSGOomHpuqATRL2ILFeoD-7ClxXcdBnWW34acRdmm4ud1ru5wUmIknWJWy1k4b4_3EupKSyTLaBD39X9O5RU9JolJbdXsTF_eussN8cSAKZhtBNkfV7MZt4TlJofi80fWv1Oq_EWwLVPHp-Sq-_P6j4g1hKx8S2Nh3gZ0u0ccumHpyJIDYcBKWGZRql1EYN0DvpklgVkMqku8EbFM5m2Bu6RUV-tQbZ-Lb96A7z9E");'
>
  <div class="flex flex-col items-center gap-4 max-w-2xl text-center">
    <h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-extrabold leading-snug">
      Bienvenido a AeroVista
    </h1>

    <p class="text-slate-200 text-sm md:text-base lg:text-lg leading-relaxed">
      Conectando el mundo con seguridad, eficiencia y un servicio inigualable.
      Nuestro compromiso es con la innovación, la sostenibilidad y nuestro
      dedicado equipo, llevando la experiencia de vuelo a nuevas alturas.
    </p>
  </div>
</div>
